.body{
    width: 100%;
    height: 100%;
}

[class*='col-'] {
    float: left;
    text-align: center;
    min-height: 1px;
    width: 16.66%;
    padding: 12px;
    background-color: #ddd;
    margin: 2px;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%; Visibility: hidden;  }

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.type{
    visibility: hidden;
    background-color: #4CAF50; /* Green */
    border: none;
    color: aliceblue;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

type .show {
    visibility: visible;
}
