/*.type{
    visibility: hidden;
    background-color: #4CAF50;
    border: none;
    color: aliceblue;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/

.hidden {
    visibility: hidden;
}

#confirm{
    background-color: cornflowerblue; /* Green */
    visibility: hidden;
}
